[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/kildom/FreeRTOS-Kernel.git
	branch = nrf5x_improvements
[submodule "nrfx"]
	path = nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
	branch = master
[submodule "CMSIS"]
	path = CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
	branch = master
